<h2>Xin chào {{recipientName}},</h2>
<p>
    {{titleMail}}
    {{! Bạn đã nhận được một bình luận mới từ }}
    {{! Bạn được nhắc trong một bình luận từ }}
    <strong>{{commenterName}}</strong>
    trên bài viết
    <strong>"{{bookTitle}}"</strong>
    của bạn.
</p>
<div class='comment-box'>
    "{{commentContent}}"
</div>

<a class='button' href='{{commentLink}}'>Xem bình luận</a>

<p>
    Nếu bạn không muốn nhận thông báo này trong tương lai, bạn có thể thay đổi cài đặt thông báo trong tài khoản của
    mình.
</p>